.gsl-legend-icon{
    height: 25px; 
}
.pmed-legend-icon{
    height: 25px;
}
.pom-legend-icon{
    height: 25px; 
}
.hospital-legend-icon{
    height: 25px; 
}

#legend-container{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s;
}

#legend-container img{
    position: relative;
    top: -5px; 
}
