/* GSL */
.gslMarkerClusterIcon-small{
    border-radius: 50%;
    background-color: rgba(202, 101, 42, 0.6); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.gslMarkerClusterIcon-medium{
    border-radius: 50%;
    background-color: rgba(202, 101, 42, 0.6); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.gslMarkerClusterIcon-small-p{
    color: white;
    height: 25px;
    width: 25px; 
    border-radius: 50%;
    background-color: rgba(202, 101, 42, 0.5);
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gslMarkerClusterIcon-medium-p{
    color: white; 
    height: 35px;
    width: 35px; 
    border-radius: 50%;
    background-color: rgba(202, 101, 42, 1);
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PMed */
.pmedMarkerClusterIcon-small{
    border-radius: 50%;
    background-color: rgba(168, 38, 255, 0.6); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.pmedMarkerClusterIcon-medium{
    border-radius: 50%;
    background-color: rgba(168, 38, 255, 0.6); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.pmedMarkerClusterIcon-small-p{
    color: white; 
    height: 25px;
    width: 25px; 
    border-radius: 50%;
    background-color: rgba(168, 38, 255, 0.5);
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pmedMarkerClusterIcon-medium-p{
    color: white; 
    height: 35px;
    width: 35px; 
    border-radius: 50%;
    background-color: rgba(168, 38, 255, 1);
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* POM */
.pomMarkerClusterIcon-small{
    border-radius: 50%;
    background-color: rgba(66, 203, 41, 0.6); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.pomMarkerClusterIcon-medium{
    border-radius: 50%;
    background-color: rgba(66, 203, 41, 0.6); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.pomMarkerClusterIcon-small-p{
    color: white;
    height: 25px;
    width: 25px; 
    border-radius: 50%;
    background-color: rgba(66, 203, 41, 0.5);
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pomMarkerClusterIcon-medium-p{
    color: white;
    height: 35px;
    width: 35px; 
    border-radius: 50%;
    background-color: rgba(66, 203, 41, 1);
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}