@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');
@import url(./loader.css);
@import url(./landing-page.css);
@import url(./table.css);
@import url(./marker-cluster.css);
@import url(./legend.css);
@import url(./toggle.css);

#map {
    height: 100vh;
}

#map-container {
    position: relative;
}

#search-container {
    width: 192px;
    position: absolute;
    z-index: 314159;
    top: 12px;
    left: 60px;
}

#home-icon {
    display: none;
}

.fa-house-chimney {
    font-size: 20px;
}

#buttons {
    display: flex;
}

#search-btn {
    flex-grow: 2;
}

#collapse-text {
    width: 192px;
    position: absolute;
    z-index: 314160;
    top: 100px;
    left: 60px;
}

.card-body {
    text-align: left;
}

.card-item {
    vertical-align: middle
}

#alert-container {
    width: 384px;
    position: absolute;
    z-index: 314159;
    top: 60px;
    left: 60px;
    transition: top 0.35s;
}

#alert-container-sm {
    width: 192px;
    position: absolute;
    z-index: 314159;
    top: 100px;
    left: 60px;
    transition: top 0.35s;
}

#navigation-container-sm{
    position: absolute;
    z-index: 314160;
    left: 50%;
    bottom: 33px;
    transform: translateX(-50%);
    /* height: 50px; */
    width: 100vw;
    background-color: white;

    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 464px){
    #navigation-container-sm{
        bottom: 17px;
    }
}

@media screen and (min-width: 576px) {
    #search-container {
        width: 384px;
        display: flex;
    }

    #collapse-text {
        width: 384px;
        top: 60px;
    }

    .card-body {
        text-align: center;
    }

    #home-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #navigation-container-sm{
        display:none; 
    }
}