@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');
@import url(./loader.css);
@import url(./landing-page.css);
@import url(./table.css);
@import url(./marker-cluster.css);
@import url(./legend.css);
@import url(./toggle.css);


body, html{
    height: 100%;
    overflow: hidden;
}

#map {
    height: 100%;
}

#map-container {
    height: 100vh; 
    overflow: hidden;
    position: relative;
    transition: height 1s;
}

#search-container {
    width: 227px;
    position: absolute;
    z-index: 314159;
    top: 12px;
    left: 60px;
    display: flex;
}

.search-home {
    font-size: 20px;
}

.collapse.show {
    display: none; 
}

#alert-container {
    width: 384px;
    position: absolute;
    z-index: 314159;
    top: 54px;
    left: 60px;
    transition: top 0.35s;
}

#alert-container-sm {
    width: 227px;
    position: absolute;
    z-index: 314159;
    top: 54px;
    left: 60px;
    transition: top 0.35s;
}

#navigation-container-sm{
    position: absolute;
    z-index: 314160;
    bottom: 33px;
    width: 100vw;
    background-color: rgb(239, 242, 246);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-icons-div:hover{
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
}

.nav-icons{
    font-size: 20px;
}

#expand-navigation-sm{
    position: absolute;
    z-index: 314160;
    left: 50%;
    bottom: 93px;
    transform: translateX(-50%);
    width: 95vw;
    height: 0; 
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow-y: scroll;

    transition: height 0.6s;
}

.drug-card{
    width: 85% !important; 
}

@media screen and (min-width: 464px){
    #navigation-container-sm{
        bottom: 17px;
    }

    #expand-navigation-sm{
        bottom: 77px;
    }
}

@media screen and (min-width: 576px) {
    #search-container {
        width: 384px;
    }

    #buttons {
        display: flex;
    }

    #collapse-text {
        width: 384px;
        z-index: 314160;
        position: absolute;
        top: 54px;
        left: 60px;
    }

    .collapse.show{
        display: block; 
    }

    .card-body {
        text-align: center;
    }
    
    .card-item {
        vertical-align: middle
    }

    #navigation-container-sm{
        display:none; 
    }

    #expand-navigation-sm{
        display: none;
    }

    #landing h1 {
        font-size: 78px;
    }
}