table {
    table-layout: fixed;
}

.fa-angle-up{
    display: inline-block; 
    margin-left: 10px;
}

.fa-angle-down{
    display: none; 
    margin-left: 10px;
}

#brand-name:hover, #classification:hover{
    background: black;
    color: white;
}

ul {
    list-style: none;
    padding-left: 0;
}

.active_ingredients_list{
    box-sizing: border-box;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
}