#map{
    height: 100vh;  
}

td{
    word-wrap: break-word;
    white-space:normal; 
    /* min-width: 160px; */
    /* max-width: 160px; */
}

table {
    table-layout: fixed;
  }

.div-icon{
    border: none;
    background-color: rgba(255, 0, 0, 0.2);
    width: 20px;
    height: 20px;
    border-radius: 10px;
}